.rating_checkbox,
.star_list,
.start_list_container {
  display: flex;
}

.filter_rating {
  margin: 10px 20px;
}

.rating_checkbox {
  flex-wrap: wrap;
  justify-content: space-between;
}

.start_list_container {
  align-items: center;
}

.star_icon {
  width: 12px;
  height: 12px;
  color: #eb762d;
}
