.expert,
.expert_info,
.review,
.expert_bio,
.expert_detail,
.view_profile,
.expert_name_about,
.expert_description,
.expert_availability,
.available,
.expert_skills {
  display: flex;
}

.expert {
  height: fit-content;
  border: 0.5px solid gainsboro;
  background-color: white;
  margin: 5px 5px 10px;
  border-radius: 1%;
}

.expert_info {
  flex-direction: column;
  align-items: center;
  width: 20%;
  margin-top: 10px;
}

.expert_photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.price_color {
  color: turquoise;
}

.review {
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}

.icon {
  color: #eb762d;
  width: 20px;
  height: 20px;
}

.rating {
  color: #eb762d;
  margin-right: 3px;
}

.expert_bio {
  flex-direction: column;
  width: 70%;
}

.expert_detail {
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 0.5px solid gainsboro;
}

.view_profile {
  align-items: center;
}

.profile {
  padding: 7px 15px;
  background-color: #eb762d;
  cursor: pointer;
  color: white;
  border-radius: 5%;
}

.expert_name_about {
  flex-direction: column;
}

.expert_description {
  flex-direction: column;
}

.expert_availability {
  font-size: 14px;
  font-weight: 100;
}

.description {
  font-size: 16px;
  font-weight: 300;
}

.available {
  align-items: center;
}

.skill {
  margin: 0px 10px 10px 10px;
  font-size: 14px;
  background-color: #f2f5f3;
  padding: 7px 15px;
}
